attrs==20.3.0
Automat==20.2.0
blinker==1.4
cffi==1.14.4
click==7.1.2
constantly==15.1.0
crochet==1.12.0
cryptography==3.2.1
fedora-messaging==2.0.2
Flask==1.1.2
hyperlink==20.0.1
idna==2.10
importlib-metadata==3.1.1
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
pika==1.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==20.0.0
pyrsistent==0.17.3
pytz==2020.4
service-identity==18.1.0
six==1.15.0
toml==0.10.2
Twisted==20.3.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
zope.interface==5.2.0
