attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
idna==2.10
importlib-metadata==3.1.1
iniconfig==1.1.1
packaging==20.7
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-sugar==0.9.4
requests==2.25.0
requests-mock==1.8.0
six==1.15.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.2
zipp==3.4.0
